* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
}

.logo {
  margin: 0;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-links li {
  margin-right: 2rem;
}

.nav-links li a {
  text-decoration: none;
  text-transform: uppercase;
}

.courses {
  border: 0;
  padding: 2rem;
}
